*{
    margin: 0;
   
}
.products{
    background-color: rgb(245, 248, 248);
    margin-left:250px;
    margin-right:350px;
    margin-top: 20px;
}
.p{
    margin-top: 50px;
    float: left;
    width: 25%;
    
    width: 216PX;
    height:250PX;
    margin-left: 10PX;
    margin-bottom: 20PX;
    border: 1px,solid,#ddd;
  

}
.button{
    color: #ddd;
    text-align: center;
    
}
.price{
    color: green;
}
.old-price{
    color: red;
    margin-left: 10px;
    text-decoration: line-through;
}
button{
    background-color:#0056b3;
    width: 150px;
    height:28px;
    text-align: center;
}
.fa-regular {
    height:auto;
   padding: 5px;
   margin-top: 4px;
    border: 00.1px,solid,#0056b3;
    background-color:white;
    color: #0056b3;
    text-align: center;
   
}
.clear{
    clear: both;
}